html, body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 
}

*, *:before, *:after {
  box-sizing: border-box;
  position: relative;
}

body{
	background: url(assets/home.png) no-repeat 100% 135px, 
	url(assets/home-bc.png) no-repeat right top;
	background-size: 15%, 35%;
	width: 100%;
}

.menu {
	position: fixed;
	top: 50px;
	left: 5%;
	z-index: 1;
}

.menu img{
	width: 120px;
	margin: 5% 0;
}

.menu nav ul {
	padding: 0;
	list-style: none;
}

.menu nav ul li{
	margin: 10% 0;
}
.menu nav ul li a{
	font-family: 'Raleway-Regular';
	font-size: 1em;
	color: #005884;
	font-style: normal;
	text-align: left;
	line-height: 0.86em;
	text-decoration: none;
}

section {
	display: flex;
	flex-direction: column;
  	justify-content: center;
  	align-items: center;
}

.container {
	width: 55%;
}

section h1,
section h2 {
	font-family: 'Sunday-Regular';
	color: #005884;
}

#sobre .container h2,
#solidariedade .container h2,
#programas .container h2,
#campanhas .container h2,
#parceiros .container h2 {
	font-size: 1.25em;
	margin: 5% 0;
}

section p {
	font-family: 'raleway-regular';
	font-size: 1em;
	color: #005884;
	font-style: normal;
	text-align: left;
	/*line-height: 1em;*/
}

#inicio{
	margin-top: 11.15%;
}

#inicio h1,
#inicio h2 {
	font-family: 'Sunday-Regular';
	font-size: 1.25em;
	color: #005884;
	font-style: normal;
	text-align: left;
	line-height: 2.25em;
}

#sobre {
	padding-bottom: 15%;
	background: url(assets/flowers.svg) repeat-x bottom left;
	background-size: 60%;
	margin: 0 auto;
	width: 100%;
}

#solideriedade { 
  display: flex; 
}

#solidariedade .container {
  display: flex;
  flex-direction: column;
}

#solidariedade .container .item {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 2% .5%;
}

#solidariedade > div > div > div > img {
  max-width: 300px;
}

#solidariedade .container .container-gallery {
	display: flex;
  flex-wrap: wrap;
}

#programas .container .item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 2% 0;
}

#programas img {
	max-width: 10%;
	margin: 0 2%;
}
#programas img:first-child {
	max-width: 8%;
	
}
#programas h3 {
	font-family: 'Raleway-SemiBold';
	font-size: 1.25em;
	color: #005884;
	font-style: normal;
	text-align: left;
	/*line-height: 1.07em;*/
	min-width: 18%;
	max-width: 25%;
	margin: 0;
	margin-right: 2%;

}
#programas p {
	width: 80%;
	margin: 0;
	align-self: baseline;
}

#campanhas .container .item {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
}

#campanhas .item div{
	width: 40%;
	height: 300px;
	background: gray;
	margin: 1%;
	flex-grow: 1;
}

#campanhas .container .item p {
	margin:1%;
	flex-grow: 1;
}

#parceiros .container .item {
	display: flex;
	flex-direction: row;
}

#parceiros .container .item img {
	max-width: 200px;
	margin-right: 2%;
}

#faca-parte {
	background: url(assets/footer-bc.jpg)  repeat left bottom;
	display:flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 3%; 
}

#faca-parte h2{
	font-family:'Sunday-Regular';
	font-size:1.4em;
	color: #FFFFFF;
	font-style: normal;
	text-align: left;
	line-height:2.25em;
}

#faca-parte .container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  width: 60%;
  margin: 0 auto;
}

#faca-parte .container div {
	display: flex;
	margin: 1%;
}

#faca-parte .container div .contato {
	flex-direction: column;
}

#faca-parte .container div .contato p {
	margin: 0.5em 0;
}

#faca-parte p {
	font-family:'raleway-regular';
	font-size: 1em;
	color: #ffffff;
	font-style: normal;
	text-align: left;
	line-height: 1em;
}

@font-face {
  font-family: 'Raleway-Bold';
  src: url('assets/Raleway-Bold.ttf');
}

@font-face {
  font-family: 'Raleway-Regular';
  src: url('assets/Raleway-Regular.ttf');
}

@font-face {
  font-family: 'Raleway-Semibold';
  src: url('assets/Raleway-Regular.ttf');
}

@font-face {
  font-family: 'Sunday-Regular';
  src: url('assets/Sunday-Regular.otf');
}

@media (max-width: 760px) {

	body {
    	background: url(assets/home.png) no-repeat 90% 135px, url(assets/home-bc.png) no-repeat right top;
    	background-size: 30%, 60%;
  	}

	header {
		display: flex;
		width: 80%;
	}

	.container {
		max-width: 90%;
	}

	header .menu {
		position: static;
	}

	header .menu nav {
		margin-top: -150%;
		visibility: hidden;
	}

	header .menu img {
		margin-top: 50%;
		width: 150px;
	}
    #programas .container .item p {
    	width: 100%;
    }
    #solidariedade .container {
    	width: 70%;
    }
    #solidariedade .container-gallery{
    	flex-flow: row wrap;
    }
    #programas .container .item {
    	justify-content: flex-start;
    	flex-flow: row wrap;
    }
    #programas img {
    	max-width: 18%;
    	margin-bottom: 36px;
    }
    #programas img:first-child {
    	max-width: 15%;
    }
    #parceiros .container .item {
      display: flex;
      flex-direction: column;
    }
    #parceiros .container .item img {
      width: 150px;
      margin: 10% 2%;
    }
}
@media (max-width: 990px) {
    #faca-parte .container div {
		flex-direction: column;
		margin: 1%;
	}
}