html, body{
	margin: 0;
	padding:0;
    display: flex;
    flex-direction: column;
}
body{
	background: url(assets/home.png) no-repeat 90% 123px, 
	url(assets/home-bc.png) no-repeat right top ;
	/*background-repeat:no-repeat;
	background-position:right top;*/
	background-size: 22%, 35%;
	width: 100%;
}

header{
	margin: 0;
	padding:0;
}

.menu {
	position: fixed;
	top: 50px;
	left: 5%;
	z-index: 1;
}
.menu img{
	width: 89px;
	padding-left: 0%;
	/*padding-top: 50px;*/
}
.menu nav ul li{
	font-family:bold;
	font-size: 1em;
	color: #005884;
	font-style: normal;
	text-align: left
	line-height: 0.86em;
	padding-left: 5%;
	/*paddings-top: 24px;*/
    
}
section {
	margin-left: 20%;
}
#inicio{
	margin-top: 152px;
	max-width: 40%;
}
#sobre {
	padding-bottom: 10%;
	background: url(assets/flowers.svg) repeat-x bottom left;
	background-size: 80%;

}

/*.flowers {
	background: url(assets/flowers.svg);
	background-repeat: repeat-y;
	background-attachment: local;
	width: 100%;
	height: 100px;
	background: blue;
}
*/






